/* ==========================================Common==CSS===========================*/

*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0 auto;
}
body{
    background-color: #FFFFFF;
}

/*================================================================================= */


/*=========================================Header starts here================================== */
/* this is nav */
header{
    background-color: #efe4d5;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
}
.navbar{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 63px;
}
.nav-heading{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.nav-menu ul{
    /* background-color: yellow; */
    display: flex;
    list-style-type: none;
   
}
.nav-menu ul li{
    margin-right: 20px;
    color: #424242;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
}
/* --------------------------------------------------------Header banner section */
.banner-title-section{
    /* background-color: thistle; */
    text-align: center;

}
.banner-titles{
    margin-top: 102px;
    color: #131313;
    font-weight: 700;
    font-size: 40px;
    line-height: 75px;
    text-align: center;
    
}
.banner-title-para{
    font-weight: 400;
    font-size: 13px;
    line-height: 26px;
    text-align: center;
    padding-top: 10px;
    color: #727272;
}
.explore-more-btn{
    margin-top: 32px;
    width: 180px;
    height: 64px;
    background-color: #FF900E;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    transition: background-color 1s;

}
.explore-more-btn:hover{
    background-color: crimson;
    color: #FFFFFF;
}
.img-container{
    margin-top: 50px;
    
}
.img-container img{
    width: 1100px;
    height: 550px;
    border-radius: 8px;
   
    
}

/*===============================================Header ends===================================== */


/*============================================= Main starts here================================= */
 
/* ------------------------------------------------------Feature list section */
.features-section{
    /* background-color: green; */
    margin-top: 96px;
    margin-bottom: 130px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 310px;
    /* margin-right: 423px; */
    /* justify-content: space-between; */

}
.img-grid-container-left{
    /* background-color: red; */
    display: grid;
    gap: 15px;
    grid-template-columns:repeat(2,1fr) ;
}
.img-grid-container-left img{
    width: 233px;
    height: 249px;
    transition: 1s all ease-in-out;
    
}
.img-grid-container-left img:hover{
    transform: scale3d(1.1, 1.1, 1);
    cursor: pointer;
    transition: transform 1s;

}
.features-text-container-right{
    /* background-color: aquamarine; */
    width: 5037px;
    margin-left: 46px;
    text-align: left;

    
}
.features-text{
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: #727272;
}
.golden-text{
    color:#FF900E; 
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
}
.big-text{
    color:#131313;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px
}
.features-para{
    /* background-color: #FF900E; */
    /* width:100px; */
    font-weight: 400;
    font-size: 10px;
    line-height: 26px;
    margin-right: 370px;
    color: #727272;
    margin-top: 28px;
   
}
/* ---------------------------------------------------------------Features list section ends here */


/* ---------------------------------------------------------------Experience section starts here */

.experience-container{
    /* background-color: #727272; */
    margin-top: 130px;
    margin-left: 200px;
    margin-right:200px;
    margin-bottom: 130px;
    display: flex;
    
   

}
.experience-article{

}
.experience-header{
    border-left: 5px solid orange;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    padding-left: 10px;
    
}
.experience-texts{
    margin-top: 20px;
    margin-left: 0px;
    text-align: left;
    width: 321px;
    font-weight: 400;
    font-size: 10px;
    line-height: 26px;
    margin-bottom: 20px;
}
.experience-accordions{

}

/* ----------------------------image div */
.article-img-container img{
  
    
    width: 438px;
    height: 625px;
    position: relative;
   
}
.article-button{

    width: 176px;
    height: 71px;
    background-color: #FF900E;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 45px;
    padding: 27px 44px 42px 29px;
    text-align: center;
    border-radius: 8px;
    float: left;
    position: absolute;
    left: 760px;
    top: 2470px;
    z-index: +1;
    margin-left: 0px;
}
/* ----------------------------accordions  */
.experience-accordions{}
.accordion{
    width: 400px;
    height: 100%;
    margin-left: 0px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 5px;
    /* margin-left: 10px; */
}
.accordion h1{
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
}
.accordion-para{
    margin-top: 10px;
    color: #727272;
    font-size: 10px;
}
/* -----------------------------------------------------accordion section ends */

/* ---------------------------------------------------------------Experience section ends here */


/* ---------------------------------------------------------------facts section starts here */

.facts-section{
    /* background-color: aqua; */
    margin-left: 240px;
    margin-right: 240px;
    margin-bottom: 130px;
}
.facts-header{
    color: #131313;
    margin-bottom: 100px;
}
.facts-flex-container{
    display: flex;
}
.award-showcase{
    text-align: center;
    border: 1px solid #FF900E;
    padding: 34px 30px 30px 26px;
    width: 113px;
    height: 108px;
    border-radius: 8px;
    
}
/* ---------------------------------------------------------------facts section ends here */

/* ---------------------------------------------------------------sponsors section starts here */

.sponsors-header{
    margin: 0px 549px 70px 622px;
    text-align: center;
}
.sponsors-logo{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin: 10px 240px 130px 240px;
}
/* ---------------------------------------------------------------sponsors section ends here */
